<header class="header">
  <div class="header-container container">
    <a href="/">
      <svg class="logo" width="34" height="36">
        <use href="./icon/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="burger-btn">
      <svg class="burger-icon" width="28" height="15">
        <use href="./icon/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="header-list">
        <li class="header-list-iteam">
          <a href="" class="header-link">About us</a>
        </li>
        <li class="header-list-iteam">
          <a href="" class="header-link">Tours</a>
        </li>
        <li class="header-list-iteam">
          <a href="" class="header-link">Reviewsw</a>
        </li>
        <li class="header-list-iteam">
          <a href="" class="header-link">Gallery</a>
        </li>
        <li class="header-list-iteam">
          <a href="" class="header-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
