<div>
  <div class="tours-modal">
    <div class="container modal-tours-content">
      <button class="tours-close-btn">
        <svg width="15" height="15">
          <use href="/icon/symbol-defs.svg#icon-close-2"></use>
        </svg>
      </button>
      <h4 class="tour-title">Ascent to Hoverla</h4>
      <span class="numDay">1 day</span>
      <ul class="tours-modal-list">
        <li class="tours-modal-item">
          <p class="modal-tours-name">Departure from Lviv</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Manyava Hermitage</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Manyava waterfall</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Arrival to Bukovel</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Check-in</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Dinner</p>
        </li>
        <li class="tours-modal-item">
          <p class="modal-tours-name">Evening by the fireplace</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="price-block">
    <p class="price-tour">UAH 4.499/person</p>
    <button class="buy-tour">BOOK A TOUR</button>
  </div>
</div>
